@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
}

body {
    background-image: url('ins_background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

h1 {
    text-align: center;
    color: #4CAF50;
    margin-top: 20px;
    font-family: 'Poppins';
}

.logo-img {
    width: 80px;             
    vertical-align: middle;   
    margin-right: 4px;        
}

ul {
    list-style: none;
    background: #34495e;
    display: flex;
    justify-content: center;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

ul li ul.dropdown li {
    display: block;
    text-align: center;
}

ul li ul.dropdown {
    width: 100%;
    background: #34495e;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #4CAF50;
}

ul li:hover ul.dropdown {
    display: block;
}

.navbar .ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .navbar .ul {
        flex-direction: column;
    }
}
