@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', monospace;
}

body {
    background-image: url('ins_background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

h1 {
    text-align: center;
    color: rgb(224, 244, 217);
    margin-top: 20px;
    font-family: 'Poppins';
}

h2 {
    text-align: center;
    color: #000000;
    margin-top: 240px;
    font-family: 'Poppins';
}

.logo-img {
    width: 80px;             
    vertical-align: middle;   
    margin-right: 4px;        
}

nav {
    background-color: #404340;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
}

ul {
    list-style: none;
    background: #34495e;
    display: flex;
    justify-content: center;
}

ul li {
    display: inline-block;
    position: relative;
}

ul li a {
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
}

ul li ul.dropdown li {
    display: block;
    text-align: center;
}

ul li ul.dropdown {
    width: 100%;
    background: #34495e;
    position: absolute;
    z-index: 999;
    display: none;
}

ul li a:hover {
    background: #4CAF50;
}

ul li:hover ul.dropdown {
    display: block;
}

.navbar .ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
.navbar .ul {
    flex-direction: column;}
}

.table-container {
    margin: 2rem auto;
    width: 80%;
    max-width: 1000px;
    margin-top: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
}


table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}


thead {
    background-color: #404340;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.05em;
}

th {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
    color: #404340;
}


tbody tr {
    transition: background-color 0.3s ease; 
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1; 
    cursor: pointer;
}


@media (max-width: 768px) {
    th, td {
        padding: 0.75rem;
        font-size: 0.9em; 
    }
}

